html, body {
    height: 100%;;
}

.grey {
    background: #f3f3f3;
    height: 100%;
}

.no-results {
    background: #f3f3f3;
    border-radius: 5px;
    color: rgba(0,0,0,0.25);
}
.hide {
    display: none;
}