html, body {
    height: 100%;;
}

.grey {
    background: #f3f3f3;
    height: 100%;
}

.no-results {
    background: #f3f3f3;
    border-radius: 5px;
    color: rgba(0,0,0,0.25);
}
.hide {
    display: none;
}
.bg-high {
    background: #E333FF;
    color: #fff;
}
.bg-extreme  {
    background: #5915BA;
    color: #fff;
}
.list-item  {
    padding: 10px;
    border-bottom: solid 1px #dfdfdf;
    color: #555;
    text-decoration: none;
}
.forecast .list-item {
    color: #fff;
    border-bottom: none;
    padding: 10px 0;
}

.forecast .card-header {
    border-bottom: none;
}